/* CSS Document 
button {
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgb(86, 35, 215);
  color: white;
}

button:active {
  transform: scale(0.95);
  background-color: red;
  color: white;
}

input {
  border: 2px solid gray;
}

input:focus {
  background-color: rgb(227, 240, 251);
}
.box {
  width: 200px;
  height: 50px;
  background-color: lightblue;
}

h3 {
  background-color: rgb(225, 160, 193);
  width: 400px;
  height: 80px;
}

div {
  background-color: rgb(215, 227, 234);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  justify-content: center;
}
*/